.monthlyBill {
  --ka-text-color: #191d26;
  height: 100%;
  // background: linear-gradient(180deg, #ffffff, #f5f5f5 100%);
  // background-size: 100% 240px;
  background-repeat: no-repeat;
  background-color: rgba(245, 245, 245, 0.9);
  // background-color: black;
  color: var(--ka-text-color);
  /* 👇 新增这几行 Flex 布局代码 */
  display: flex;
  flex-direction: column; /* 垂直排列 */
  overflow: hidden; /* 防止整体溢出 */
  .nav {
    --adm-font-size-10: 16px;
    color: #121826;
    background-color: transparent;
    .adm-nav-bar-back-arrow {
      font-size: 20px;
    }
  }

  .content {
    // height: 573px;
    // height: 100%;
    /* ✅ 改为这一行：自动占满剩余空间 */
    flex: 1;
    /* 必须保留 overflow-y: scroll 才能让内部滚动 */
    overflow-y: scroll;
    padding: 0 10px;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    > .header {
      height: 135px;
      padding: 20px 20px 0px 18.5px;
      margin-bottom: 10px;
      background-image: url(https://lsky.ikun.uk/a/2025/11/26/RqXTnkgoHW.webp);
      background-size: 100% 100%;

      .date {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        font-size: 16px;

        .arrow {
          display: inline-block;
          width: 7px;
          height: 7px;
          margin-top: -3px;
          margin-left: 9px;
          border-top: 2px solid #121826;
          border-left: 2px solid #121826;
          transform: rotate(225deg);
          transform-origin: center;
          transition: all 0.3s;
        }
        .arrow.expand {
          transform: translate(0, 2px) rotate(45deg);
        }
      }
    }
  }
  .twoLineOverview {
    display: flex;
    justify-content: space-between;
    width: 250px;

    .item {
      display: flex;
      flex-direction: column;

      .money {
        height: 24px;
        line-height: 24px;
        margin-bottom: 5px;
        font-size: 18px;
      }
      .type {
        height: 14px;
        line-height: 14px;
        font-size: 12px;
      }
    }
  }
}
